<div class="maininfo" style="height:180px">
    	<div class="mainboxtop"><h6>网站信息</h6></div>
        <div class="maincontent">
        <div style="width:200px; float:left;clear:left; margin-bottom:5px;">今日个人注册/总数:{yun:}$user_num{/yun} / {yun:}$usernum_all{/yun}</div>        <div style="width:250px;float:right; clear:right; margin-bottom:5px;">今日简历数/总数:{yun:}$resume{/yun} / {yun:}$resume_all{/yun}</div>
        <div style="width:200px; float:left;clear:left; margin-bottom:5px;">今日企业注册/总数:{yun:}$com_nums{/yun} / {yun:}$comnum_all{/yun}</div>        <div style="width:250px; float:right;clear:right; margin-bottom:5px;">今日职位数/总数:{yun:}$job{/yun} / {yun:}$job_all{/yun}</div>
        <div style="width:200px; float:left;clear:left; margin-bottom:5px;">今日新闻条数/总数:{yun:}$news{/yun} / {yun:}$news_all{/yun}</div>
        <div style="width:250px; float:right;clear:right; margin-bottom:5px;">广告总数:{yun:}$ad_all{/yun}</div>
        <div style="width:200px; float:left;clear:left; margin-bottom:5px;"><A href="index.php?m=admin_once&status=2">待审核一句话招聘:</A>{yun:}$once{/yun}</div>   
        <div style="width:250px; float:right;clear:right; margin-bottom:5px;"><A href="index.php?m=link&state=2">待审核链接:</A>{yun:}$link{/yun}</div>
		 <div style="width:200px; float:left;clear:left; margin-bottom:5px;"><A href="index.php?m=admin_company_job&state=4">待审核职位:</A>{yun:}$com_job_4{/yun}</div>
		 <div style="width:250px; float:right;clear:right; margin-bottom:5px;"><A href="index.php?m=comcert&status=2">待认证的企业:</A>{yun:}$com_cert_2{/yun}</div>
		 <div style="width:200px; float:left;clear:left; margin-bottom:5px;"><A href="index.php?m=company_order&order_state=3">待处理的订单:</A>{yun:}$com_order_3{/yun}</div>
        </div>
    </div>