@charset "gb2312";
* {
	margin:0 auto;
	padding:0;
}
a {
	text-decoration:none;
	color:#333;
}
a:hover {
	color:#F60;
	text-decoration:underline
}
ul {
	list-style:none;
}
.clear {
	clear:both;
}
img {
	border:none;
}
body {
	font-size:12px;
	background: url(../images/bg.gif) repeat-x scroll center top transparent;
}
.embed {
	position:absolute;
	z-index:999;
	top:133px;
	display:block;
	left:0
}
.centent {
	width:980px;
	position:relative;
	background:#fff;
	float:left;	overflow:hidden
}
.header {
	width:980px;
	height:94px;
	background:url(top1.jpg) no-repeat
}
.logo {
	font-size:24px;
	width:800px;
	height:76px;
	overflow:hidden;
	float:left;
	line-height:76px;
	font-weight:bold;
	font-family:"ו";
	color:#000;
	text-align:center
}
.logo img {
	display:block;
	float:left;
	margin-left:10px;
	margin-top:10px;
}
.logo .name {
	float:left;
	margin-left:10px;
}
.fh {
	float:right;
	background:url(home.jpg) no-repeat left;
	padding-left:18px;
	margin-right:20px;
	height:23px;
	line-height:26px;
}
.mune {
	width:100%;
	height:41px;
	background:url(menu.jpg) no-repeat;
}
.nav {
	width:950px;
}
.nav li {
	float:left;
	width:99px;
	height:41px;
	line-height:41px;
	text-align:center;
	margin-left:2px;
	background:url(libg.jpg) no-repeat right center
}
.nav li a {
	color:#fff;
	font-weight:bold;
	font-size:14px;
	width:99px;
	height:41px;
	display:block
}
.nav li a:hover {
	background:url(litop.jpg) no-repeat center top;
	text-decoration:none
}
.banner {
	width:980px;
	margin-bottom:5px;
	height:279px;
}
.content {
	width:964px;
	background:#fff url(cotbg.jpg) no-repeat;
	float:left;
	padding-top:20px;
	margin-left:10px;
	_margin-left:5px;
}
.sidebar-left {
	width:304px;
	float:left;
	margin-right:10px;
}
.position {
	width:304px;
	margin-bottom:5px;
	background:url(botbg.jpg) repeat-x bottom;
	margin-left:20px;
}
.sidebar-left .position-title {
	width:304px;
	height:34px;
	line-height:34px;
}
.sidebar-left .position-title span {
	background:url(tb.jpg) no-repeat left;
	padding-left:10px;
	height:34px;
	font-size:14px;
	font-weight:bold;
	line-height:35px;
	display:block;
	padding-left:10px;
	color:#000;
	margin-left:10px;
}
.post_content {
	border:1px solid #d4d4d4;
}
.post_content img {
	display:block;
	margin:5px 5px 5px 5px;
}
.post {
	background:url(ulbg.jpg) repeat-x top;
	min-height:200px;
	_height:200px
}
.post li {
	height:30px;
	line-height:30px;
	border-bottom:1px dashed #ccc;
}
.post li a {
	display:block;
	height:30px;
	background:url(lil.jpg) no-repeat left center;
	padding-left:18px;
	margin-left:10px;
}
.jieshao {
	background:url(ulbg.jpg) repeat-x top;
	min-height:200px;
	_height:200px;
	padding:0px 10px 0px 10px;
	color:#333;
	line-height:22px;
	text-indent:10px;
}
.weibo {
	background:url(ulbg.jpg) repeat-x top;
	min-height:200px;
	_height:200px;
	padding:0px 10px 0px 10px;
	color:#333;
	line-height:22px;
	text-indent:10px;
}
.touch1 {
	background:url(ulbg.jpg) repeat-x top;
	min-height:200px;
	_height:200px;
	padding:0px 10px 0px 10px;
	color:#333;
	line-height:22px;
}
.touch {
	line-height:23px;
	padding-left:10px;
}
.touch .touch_list{width:100%}
.touch .touch_list li{width:100%; float:left}
.touch  .touch_list li span{ float:left; display:block;width:70px; text-align:right}
.touch  .touch_list li em{ float:left; font-style:normal}
.brief {
	float:right;
	width:700px;
	overflow:hidden
}
.brief-center {
	width:460px;
	float:left;
	border:1px solid #ccc;
}
.brief-center h1 {
	height:34px;
	width:100%;
	font-size:14px;
}
.brief-center h1 span {
	background:url(tb.jpg) no-repeat left;
	padding-left:10px;
	height:34px;
	font-size:14px;
	font-weight:bold;
	line-height:34px;
	display:block;
	padding-left:25px;
	color:#fff;
}
.brief-center p {
	text-indent:20px;
	line-height:22px;
	padding:8px;
}
.brief-right {
	width:270px;
	height:50px;
	border:1px solid #ccc;
	float:right
}
.brief-right h1 {
	height:33px;
	width:100%;
	font-size:14px;
	background:url(hbg.jpg) repeat-x;
}
.brief-right h1 span {
	background:url(tb.jpg) no-repeat left;
	padding-left:25px;
	height:33px;
	font-size:14px;
	font-weight:bold;
	line-height:35px;
	display:block;
	color:#fff;
}
.environment {
	width:700px;
	margin-top:5px;
	float:left
}
.environment h1 {
	height:33px;
	width:100%;
	font-size:14px;
}
.environment h1 span {
	background:url(tb.jpg) no-repeat left center;
	padding-left:25px;
	height:34px;
	font-size:14px;
	font-weight:bold;
	line-height:35px;
	display:block;
	color:#000;
}
.environment dl {
	float:left;
	width:165px;
	margin-top:10px;
	margin-bottom:10px;
}
.environment dt {
}
.environment dt img {
	margin-left:15px;
	margin-top:2px;
	margin-bottom:2px;
}
.environment dd {
	height:25px;
	line-height:25px;
	width:185px;
	overflow:hidden;
	text-align:center
}
.environment .news_ul {
	margin-bottom: 35px;
	width:650px;
}
.environment .news_ul li {
	background: url(../images/news_r4_c2.jpg) no-repeat scroll 6px center transparent;
	border-bottom: 1px dashed #9CB6C5;
	font-size: 12px;
	height: 35px;
	line-height: 35px;
	padding: 0 10px 0 30px;
}
.environment .news_ul li a {
	display: block;
	height: 35px;
	overflow: hidden;
	width: 400px;
	float:left
}
.environment .news_ul li em {
	color: #C0C0C0;
	display: block;
	font-style: normal;
	height: 35px;
	float:right
}
.environment h2 {
	font-size: 20px;
	margin: 10px 0;
	text-align: center;
}
.txt {
	border-top: 1px solid #ccc;
	font-size: 14px;
	font-weight: normal;
	line-height: 180%;
	padding-bottom: 40px;
	padding-top: 20px;
	width: 600px;
}
.txt ul {
	margin: 10px auto;
	text-align: center;
}
.txt ul li {
	display: inline;
}
.txt ul li span {
	color: #077AC7;
	font-weight: bold;
}
.txt ul li a {
	color: #000000;
	font-weight: bold;
}
.txt ul li a:hover {
	color: #FF6600;
}
.page {
	float: left;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	text-align: center;
	width: 700px;
}
.page em {
	border: 1px solid #B6E1F9;
	color: #077AC7;
	font-style: normal;
	padding: 3px 4px;
}
.page a {
	border: 1px solid #B6E1F9;
	color: #077AC7;
	margin: 3px;
	padding: 3px 6px 2px;
	text-align: center;
}
.page span {
	color: #FF0000;
}
.page .text {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 15px;
	width: 20px;
}
.page .button {
	height: 20px;
	margin-top: 5px;
}
.footer {
	color:#999;
	line-height:200%;
	clear:both;
	text-align:center;
	margin-top:5px;
	border-top:3px solid #3886d8
}
.footer ul {
	width:100%;
	height:50px;
	line-height:55px;
}
.footer ul li {
	display:inline;
}
.footer ul li a {
	color:#000;
}
.footer a {
	color:#000;
}
.footer a:hover {
	color:#f60;
}
.post-post {
	width:100%;
	float:left
}
.post-post h1 {
	height:34px;
	width:100%;
	font-size:14px;
}
.post-post h1 span {
	background:url(tb.jpg) no-repeat left;
	padding-left:25px;
	color:#000;
	height:34px;
	font-size:14px;
	font-weight:bold;
	line-height:35px;
	display:block;
}
.post-centent li {
	border-bottom:1px dashed #ccc;
	float:left;
	padding-left:20px;
}
.post-centent .post-centent-li {
	background:#efefef;
}
.post-centent li span {
	display:block;
	float:left;
	height:30px;
	line-height:30px;
}
.post-centent li .id {
	width:80px;
}
.post-centent li .name {
	width:180px;
}
.post-centent li .address {
	width:180px;
}
.post-centent li .start {
	width:80px;
}
.post-centent li .end {
	width:80px;
}
.post-centent li .people {
	width:80px;
}
.introduction-center {
	width:100%;
	float:left
}
.introduction-center h1 {
	height:34px;
	width:100%;
	font-size:14px;
}
.introduction-center h1 span {
	background:url(tb.jpg) no-repeat left;
	padding-left:25px;
	height:34px;
	font-size:14px;
	font-weight:bold;
	line-height:35px;
	display:block;
	color:#000
}
.introduction-center p {
	line-height: 2em;
	padding:10px;
	text-indent:20px;
}
.position_a {
	width:100%;
	border-top:none;
	float:left
}
.position_a h1 {
	height:33px;
	width:100%;
	font-size:14px;
}
.position_a h1 span {
	background:url(tb.jpg) no-repeat left;
	padding-left:25px;
	height:33px;
	font-size:14px;
	color:#000;
	font-weight:bold;
	line-height:35px;
	display:block;
}
.posit {
	width:690px
}
.connection {
	width:100%;
	float:left
}
.connection h1 {
	height:34px;
	width:100%;
	font-size:14px;
}
.connection h1 span {
	background:url(tb.jpg) no-repeat left;
	padding-left:25px;
	height:34px;
	font-size:14px;
	font-weight:bold;
	line-height:35px;
	display:block;
	color:#000;
}
.environment .h1 {
	height:35px;
	line-height:35px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#666
}
.info_list {
	text-align: center;
}
.info_list ul {
}
.info_list li {
	height: auto;
	list-style: none outside none;
	margin: auto;
	overflow: hidden;
	padding: 0 0 5px 10px;
	border-bottom: 1px solid #E0F3FF;
	line-height: 27px;
	width: 90%;
	text-align:left
}
.info_list img {
	border: 0 none;
	padding: 1px;
}
.divp {
	color: #666666;
	margin: 10px auto;
	width:90%;
	line-height:23px;
}
.post_post {
	width:560px;
	float:left;
	margin-left:20px;
	_margin-left:10px;
}
.post_h1 {
	width:560px;
	height:34px;
	background: url(../images/hbbg.jpg) no-repeat;
	float:left
}
.post_h1 span {
	display:block;
	height:34px;
	line-height:34px;
	font-size:14px;
	text-indent:52px;
	font-weight:bold;
	margin-left:5px;
	font-size:14px;
	color:#fff;
	margin-top:3px;
}
.post_ul_a {
	background:#eff7fe;
	border:1px solid #deefff;
	float:left;
	width:560px;
	border-left:none;
	border-right:none;
	margin-top:5px;
}
.post_ul_a li {
	float:left;
	height:22px;
	line-height:22px;
	color:#0a81bf;
	font-weight:bold
}
.post_li1 {
	width:200px;
	text-indent:10px;
}
.post_li2 {
	width:120px;
}
.post_ul_b {
	float:left;
	width:560px;
}
.post_ul_b li {
	float:left;
	height:25px;
	line-height:25px;
	color:#848383;
	overflow:hidden
}
.post_p {
	width:720px;
	float:left;
	margin-left:20px;
	_margin-left:10px;
	color:#666;
	margin-top:10px;
}
.post_p h1 {
	height:35px;
	line-height:35px;
	font-size:14px;
	background:url(../images/xian.jpg) no-repeat bottom left;
	margin-bottom:20px;
	margin-left:0px;
}
.post_p h1 span {
	height:30px;
	line-height:35px;
	float:left;
	text-indent:25px;
	margin-left:20px;
	font-size:14px;
	color:#006699;
	background:url(../images/arrow1.gif) no-repeat left center;
}
.post_p .serv_p {
	line-height:23px;
	width:700px;
}
.ahout_touch {
	background-color: #edf4fa;
	float:left;
	width:685px;
	height:20px;
	padding:10px;
	_margin-left:5px;
	position:relative
}
.ahout_touch_title {
}
.ahout_touch .ahout_touch_title a {
	display:block;
	float:left;
	width:80px;
	height:26px;
	text-align:center;
	line-height:26px;
	margin-left:20px;
	background:url(../images/boxdc.jpg) no-repeat;
	color:#fff;
}
.ahout_touch_red {
	font-size:14px;
	float:left;
	height:25px;
	line-height:25px;
	color:red
}
.touch_logoin {
	width:324px;
	position:absolute;
	z-index:9999;
	background:#fff;
}
.touch_logoin .h1 {
	width:100%;
	margin-left:0px;
	height:33px;
	line-height:33px;
	background:url(../images/dll.jpg) no-repeat;
}
.touch_logoin .h1 span {
	color:#fff;
	font-size:14px;
	float:left;
	background:none;
	margin-left:10px;
	font-weight:bold
}
.touch_logoin .h1 a {
	display:block;
	float:right;
	margin-right:10px;
	width:45px;
	height:24px;
	background:url(../images/xx.png) no-repeat;
}
.touch_logoin_logoin {
	height:200px;
	border:1px solid #008eda;
	width:322px;
}
.touch_logoin_logoin_p {
	width:223px;
	margin-top:20px;
	color:#333
}
.po_neme {
	width:165px;
	height:20px;
	background-color: #EDF4FA;
	border: 1px solid #A4C8E8;
}
.touch_logoin_logoin_p .pp {
	width:223px;
	height:30px;
	line-height:30px;
	text-align:center;
	float:left
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.ml10 {
	margin-left: 10px;
}
.commpay_textarea {
	float: left;
	margin-top: 10px;
	position: relative;
	width: 600px;
}
.program_tooltip {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.75) inset;
	color: #8C7E7E;
	font-size: 12px;
	height: 56px;
	padding: 5px;
	width: 590px;
	margin-left:18px;
}
.commpay_Comment_input {
	float: left;
	width: 590px;
}
.Comment_list {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	margin: 10px 0 0 0;
	padding: 9px;
	width: 590px;
	margin-left:18px;
	_margin-left:9px;
	border:1px solid #ccc
}
.Comment_list_top {
	background: url("../images/arrow_top.png") no-repeat scroll center top transparent;
	height: 18px;
	left: 20px;
	position: absolute;
	top: -17px;
	width: 47px;
}
.Comment_list_left {
	float: left;
	width: 50px;
}
.Comment_list_right {
	float: left;
	padding-left: 10px;
	width: 530px;
}
.Comment_w608 {
	float: left;
	line-height: 20px;
	width: 100%;
}
.cmt_comment {
	color: #747474;
	width: 500px;
}
.Comment_w608 a {
	color: #3D98E1;
}
.Comment_list_left_fh {
	float: left;
	margin-top: 5px;
	width: 30px;
}
.Comment_textarea_hf {
	background: none repeat scroll 0 0 #FCF9F9;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.75) inset;
	color: #8C7E7E;
	font-size: 12px;
	height: 35px;
	line-height: 1em;
	margin-top: 5px;
	padding: 5px;
	width: 600px;
}
.Comment_list_hf_right {
	float: left;
	padding-left: 10px;
	width: 570px;
}
.Comment_list_hf_r1 {
	color: #666666;
	float: left;
	width: 100%;
}
.tips_reply {
	background: none repeat scroll 0 0 #F5F7F6;
	border: 1px solid #E6E6E6;
	font-size: 12px;
	line-height: 21px;
	margin-bottom: 10px;
	padding: 3px 10px;
	margin-top:5px;
}
.tips_reply span {
	color: #0689D1;
}
.program_reply {
	background: url("../images/btn_blue.jpg") no-repeat scroll 0 0 transparent;
	border: 0 none;
	color: #FFFFFF;
	float: right;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	margin-top: 10px;
	padding: 0;
	width: 64px;
}
.pages {
	font-size: 12px;
	line-height: 25px;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}
.pages a {
	border: 1px solid #DEDEDE;
	border-radius: 3px 3px 3px 3px;
	color: #666666;
	display: inline-block;
	margin-left: 10px;
	padding: 0 10px;
}
.pages .selected {
	background: url("../images/yun_page.png") repeat-x scroll center bottom transparent;
	color: #0066FF;
	font-weight: bold;
}
.pages em {
	margin-left: 10px;
	font-style: normal;
}
.comapply_no_msg{width:100%; float:left; padding-top:30px; padding-bottom:30px;}
.comapply_no_msg_cont{width:300px; margin:0px auto;}
.comapply_no_msg_cont span{ display:block;width:128px; margin:0 auto}
.comapply_no_msg_cont  em{ font-size:18px; display:block;line-height:27px; text-align:center; margin-top:20px; font-style:normal;color:#666;}