{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w950">
<div class="admin_mainbody">
{yun:}include file="$comstyle/left.htm"{/yun}
<div class=right_box>
  <div class=admincont_box>
    <div class=admin_tit><span   class="admin_tit_bg">企业新闻管理</span> </div>
    <div class=admin_note>
      <form action="index.php" method="get">
       <ul>
        <input name="c" type="hidden" value="news">
        <li>
          <input name="keyword" type="text" class="com_text_news">
          <input name="" type="submit" class="com_tj" value="搜索已有新闻">
          <input class="btn_news"  onclick="location.href='index.php?c=news&action=add'" type=button value=添加新闻>
        </li>
      </ul>
      </form>
    </div>
    <div class=admin_textbox_04>
	<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
      <form action="{yun:}$now_url{/yun}" method="post" target="supportiframe" id='myform'>
        <div class=table>
          <table id="job_checkbokid" cellspacing=1 align=center border=0 class="com_table" >
            <tbody>
              <tr align=middle style="height:30px">
                <th scope=col><input id='checkAll'  type="checkbox" onclick='m_checkAll(this.form)'></th>
                <th scope=col>新闻标题</th>
                <th scope=col>添加时间</th>
                <th scope=col>状态</th>
                <th scope=col>操作</th>
              </tr>

            {yun:}foreach item=v from=$rows{/yun}
            <tr style="height:30px">
              <td><input type=checkbox name="delid[]" value="{yun:}$v.id{/yun}" style="border:0px;"></td>
              <td style="width:356px; text-align:left"><div style="padding-left:5px; padding-right:5px;"><a href="{yun:}curl url=id:`$cookie.uid`,tp:newsshow,nid:`$v.id`{/yun}" target="_blank">{yun:}$v.title{/yun}</a></div></td>
              <td>{yun:}$v.ctime|date_format:'%Y-%m-%d'{/yun}</td>
              <td> {yun:}if $v.status=="0"{/yun} <font color=blue>等待审核</font>{yun:}/if{/yun}
                {yun:}if $v.status=="1"{/yun} <font color=green>已审核</font>{yun:}/if{/yun}
                {yun:}if $v.status=="2"{/yun} <font color=red>未通过</font> | <a href="javascript:void(0);" class="looklist"  statusbody="{yun:}$v.statusbody{/yun}">查看原因</a>{yun:}/if{/yun} </td>
              <td><a href="{yun:}curl url=id:`$cookie.uid`,tp:newsshow,nid:`$v.id`{/yun}" target="_blank">预览</a> | <a href="{yun:}$now_url{/yun}&editid={yun:}$v.id{/yun}">修改</a> | <a href="javascript:void(0)" onclick="layer_del('确定要删除该文章？', '{yun:}$now_url{/yun}&delid={yun:}$v.id{/yun}')">删除</a></td>
            </tr>
            {yun:}foreachelse{/yun}
            <tr style="height:30px">
              <td colspan="5">{yun:}if $smarty.get.keyword!="" {/yun}没有搜索相关新闻。{yun:}else{/yun}您还没有添加新闻。{yun:}/if{/yun}</td>
            </tr>
            {yun:}/foreach{/yun}
              </tbody>
           </table>
        </div>
        <div>
          <span class="fltL">
            <INPUT class='btn_02' type="button" name="subdel" value="批量删除" onclick="return really('delid[]');">
            </span>
            <div class="diggg mt10 fltR">{yun:}$pagenav{/yun}</div>
          </div>
        </form>
    </div>
  </div>
</div>
</div>
</div>
{yun:}include file="$comstyle/footer.htm"{/yun}