<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>中国汽车安全主题巡展</title>
<meta http-equiv="keywords" content="" />
<meta http-equiv="description" content="" />
<link rel="stylesheet" type="text/css" href="{yun:}$wapstyle{/yun}/css/wap.css"/>
</head>
<body>
<div class="main_body">
<header class="header">
<div class="header_cont">


<div class="header_name">中国汽车安全主题巡展</div>

</div>
</header>
{yun:}if $smarty.get.point{/yun}
<div class="msg-err" style="opacity: 1;-webkit-animation:shake 0.5s linear 0s;">{yun:}$smarty.get.point{/yun}</div>
{yun:}/if{/yun}
<link rel="stylesheet" type="text/css" href="/AD/css/swipe.css">
<div class="addWrap">
  <div class="swipe" id="mySwipe">
    <div class="swipe-wrap">
      <div><a href="/ma/meeting_show.php?id=174"><img class="img-responsive" width=100% src="{yun:}$smarty.session.adurl1{/yun}"/></a></div>
      <div><a href="/ma/meeting_show.php?id=175"><img class="img-responsive" width=100% src="{yun:}$smarty.session.adurl2{/yun}"/></a></div>
      <div><a href="/ma/meeting_show.php?id=176"><img class="img-responsive" width=100% src="{yun:}$smarty.session.adurl3{/yun}"/></a></div>
    </div>
  </div>
  <ul id="position">
    <li class="cur"></li>
    <li class=""></li>
    <li class=""></li>
  </ul>
</div>
<script src="/AD/js/swipe.js"></script> 
<script type="text/javascript">
var bullets = document.getElementById('position').getElementsByTagName('li');
var banner = Swipe(document.getElementById('mySwipe'), {
	auto: 2000,
	continuous: true,
	disableScroll:false,
	callback: function(pos) {
		var i = bullets.length;
		while (i--) {
		  bullets[i].className = ' ';
		}
		bullets[pos].className = 'cur';
	}
});
</script>
<table class="mune_list">
<tr>

<td width="30%"> <a href="/ma/meeting_show.php?id=177"><p class="mune_b"><i></i><em>{yun:}$smarty.session.huodong1{/yun}</em></p></a></td>



{yun:}if !$cookie.diaocha_url{/yun}
<td width="30%" rowspan="2"><a href="{yun:}$config.sy_weburl{/yun}/diaocha/view.php?id=12465"><p class="mune_c"><i></i><em>大问题<br>抽大奖</em></p></a></td>
{yun:}else{/yun}
<td width="30%" rowspan="2"><a href="../diaocha/{yun:}$cookie.diaocha_url{/yun}"><p class="mune_c"><i></i><em>大问题<br>抽大奖</em></p></a></td>
{yun:}/if{/yun}

<td width="30%"><a href="/ma/meeting_show.php?id=178"><p class="mune_d"><i></i><em>{yun:}$smarty.session.huodong2{/yun}</em></p></a></td>
</tr>
<tr>

<td width="30%"><a href="/ma/meeting_show.php?id=179"><p class="mune_a"><br><em>{yun:}$smarty.session.huodong3{/yun}</em></p></a></td>


<td width="30%"> <a href="/ma/meeting_show.php?id=180"><p class="mune_e"><i></i><em>{yun:}$smarty.session.huodong4{/yun}</em></p></a></td>
</tr>
<tr>
<td colspan="3"> <a  href="javascript:"><p class="mune_f">巡展介绍</p></a></td>
</tr>
</table>


