{yun:}include file="$wapstyle/header.htm"{/yun} 
<section class="index_post_hot">
<header  class="index_post_hot_h1"><a href="javascript:;">»¶Ó­À´±ö</a></header>
<table class="ht">
<tbody>
<tr>
{yun:}key key=keys limit=10 recom=1 item=keylist iswap=1{/yun}
<td><a href="{yun:}$keylist.url{/yun}" title="{yun:}$keylist.key_name{/yun} ">{yun:}$keylist.key_name{/yun}</a></td>
{yun:}if ($keys+1)%4==0{/yun}
</tr>
<tr>
{yun:}/if{/yun}
{yun:}/key{/yun} 
</tbody>
</table>
</section>

{yun:}include file="$wapstyle/footer.htm"{/yun} 