{yun:}include file="$wapstyle/header.htm"{/yun} 
<section class="index_post_hot">
<!-- header  class="index_post_hot_h1"><a href="javascript:;">欢迎来宾</a></header> -->
<table class="ht">
<tbody>
<tr>

<td><b>时间</b></td>
<td><b>地点</b></td>
<td><b>内容</b></td>
<td><b>主讲人</b></td>
<td><b>备注</b></td>

</tr>
<tr>

<td><a href="" title="">2014-12-12</a></td>
<td><a href="" title="">2号会客厅</a></td>
<td><a href="" title="">移动互联网与电子商务</a></td>
<td><a href="" title="">马云</a></td>
<td><a href="" title="">位置有限</a></td>

</tr>

<tr>

<td><a href="" title="">2014-12-12</a></td>
<td><a href="" title="">4号会客厅</a></td>
<td><a href="" title="">移动互联网与社交媒体</a></td>
<td><a href="" title="">麻花藤</a></td>
<td><a href="" title="">位置有限</a></td>

</tr>
<tr>

</tbody>
</table>
</section>

{yun:}include file="$wapstyle/footer.htm"{/yun} 