{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<div class="post_content">
<div class="post_list">
<div class="post_title">
<h3>{yun:}$row.title{/yun}</h3>
<aside>{yun:}$row.companyname{/yun}</aside>
<i> {yun:}$row.ctime{/yun}</i>
</div>
</div>

<section class="com_post_title">
<header  class="index_post_h2"><span>职位描述</span></header>
  <ul class="com_post_msg">
  <li>[招聘人数] {yun:}$row.mans{/yun}</li>
  <li>[联 系 人] {yun:}$row.linkman{/yun}</li>
  <li>[联系电话] {yun:}$row.phone{/yun}</li>
  <li>[联系地址] {yun:}$row.address{/yun}</li>
  <li>[具体要求] {yun:}$row.require{/yun}</li>
  </ul>
</section>


</div>






{yun:}include file="$wapstyle/footer.htm"{/yun} 