{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<br>

<link rel="stylesheet" type="text/css" href="../ma/css/css.css">
<script type="text/javascript" src="../ma/js/jquery-1.7.1.min.js"></script>

<p>
      <div align="center"><a href="/wap/index.php?m=register&usertype=2">预注册代表</a>    <a href="/wap/index.php?m=register&usertype=1">现场注册代表</a></div>
    <div class="note_content">
    <ul id="note_menu">
        	<li class="left"><a href="/wap/index.php?m=register&usertype=2">预注册代表</a></li>
            <li class="right"><a href="/wap/index.php?m=register&usertype=1">现场注册代表</a></li>
        </ul>
        </div>
    </p>
<br>
<h1> &nbsp;快速通道：</h1>
<hr>
<iframe  width="100%" frameborder="0" src="/wap/user.php"  height="5%"/></iframe>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script>
//getInfoByRegPhone
//根据预注册手机 判断是否已注册用户
function getInfoByRegPhone(str)
{
var xmlhttp;
if (str=="")
  {
  //document.getElementById("txtHint").innerHTML="";
  return;
  }
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
	//得到返回的多个username ，以|进行分割
    var names=xmlhttp.responseText;
	//如果得到字符串为0 则代表号错误
	
	if(names==0){
		//alert("===");
		document.getElementById("regInfo").innerHTML="代表号错误";
	}else{
		
		var array = names.split("|");
	   
	    document.getElementById("username").value=array[0];
	    document.getElementById("phone").value=array[1];
	    document.getElementById("danwei").value=array[2];
	    document.getElementById("zhiwu").value=array[3];
	    if(array[4]=="代表"){
	    	document.getElementById("shenfen").innerHTML="<input type=radio name=shenfen value=代表  checked=checked>代表<input type=radio name=shenfen value=专家 >专家<input type=radio name=shenfen value=会务 >会务";
	    }
	    if(array[4]=="专家"){
	    	document.getElementById("shenfen").innerHTML="<input type=radio name=shenfen value=代表 >代表<input type=radio name=shenfen value=专家  checked=checked>专家<input type=radio name=shenfen value=会务 >会务";
	    }
	    if(array[4]=="会务"){
	    	document.getElementById("shenfen").innerHTML="<input type=radio name=shenfen value=代表 >代表<input type=radio name=shenfen value=专家 >专家<input type=radio name=shenfen value=会务  checked=checked>会务";
	    }
	    
	}
    
    }
  }

var usertype= document.getElementById("usertype").value;
xmlhttp.open("GET","ajax.php?regPhone="+str+"&usertype="+usertype,true);
xmlhttp.send();
}



//根据注册手机 判断是否已注册用户
function getInfoByPhone(str)
{
var xmlhttp;
if (str=="")
  {
  //document.getElementById("txtHint").innerHTML="";
  return;
  }
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
	//得到返回的多个username ，以|进行分割
    var names=xmlhttp.responseText;
    var array = names.split("|");
    var inner ="";
    for (var i=0 ; i< array.length-1 ; i++){
    	 inner = inner+"<input type=radio name=username2 value="+array[i]+" onclick=setName(this.value)>"+array[i]+"</input>";
    }
    document.getElementById("username2").innerHTML=inner;
    }
  }

var usertype= document.getElementById("usertype").value;
xmlhttp.open("GET","ajax.php?phone="+str+"&usertype="+usertype,true);
xmlhttp.send();
}

//发送验证码 校验手机号号
function sendMsg()
{
var xmlhttp;
var usertype= document.getElementById("usertype").value;
//var phone= document.getElementById("phone").value;
var phone=$("#phone").val();
phone = isjsMobile(phone);	
if(phone==false){alert('请正确填写手机号码！');return false;}
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
	document.getElementById("sendmsg").value="验证码发送成功";
    document.getElementById("msgInfo").innerHTML=xmlhttp.responseText;
    }
  }


xmlhttp.open("GET","ajax.php?sendmsg="+phone+"&usertype="+usertype,true);
xmlhttp.send();
}

//校验表单信息……
function checkfrom(){
	
	//校验用户名
	var username=$("#username").val();
	if(username==""){
		alert("用户名不能为空！");
		return false;
	}else if(username.length<2||username.length>16){
		alert("用户名长度应在2-16位！");
		return false;
	}
	
	//校验手机号
	var phone=$("#phone").val();
	phone = isjsMobile(phone);	
	if(phone==false){alert('请正确填写手机号码！');return false;}
	
	//校验短信验证码
	var regmsg=$("#regmsg").val();
	if(regmsg==""){
		alert("校验码不能为空！");
		return false;
	}else if(regmsg.length!=6){
		alert("校验码长度应是6位！");
		return false;
	}
	
}

function isjsMobile(obj){
	if(obj.length!=11) return false;
	else if(obj.substring(0,2)!="13" && obj.substring(0,2)!="15" && obj.substring(0,2)!="18") return false;
	else if(isNaN(obj)) return false;
	else  return true;
}

/**
 * 根据单选按钮填充username
 */
function setName(str){
	
	document.getElementById("username").value=str;
}

</script>
<section class="wap_login">
	
	
	<hr>
  <form action="" method="post" onSubmit="return checkfrom();">
    <input name="usertype" id ="usertype" type="hidden" value="{yun:}$smarty.get.usertype{/yun}"/>
    
     {yun:}if $smarty.get.usertype==2{/yun}
    <p>
      <input name="regphone" id="regphone" type="text" class="input-common placeholder" placeholder="代表证上的4位代表号" onblur="return getInfoByRegPhone(this.value);"/>
      <div id="regInfo"></div>
    </p>
    {yun:}/if{/yun}
    <p>
      <input name="phone" id="phone" type="text" class="input-common placeholder" placeholder="签到手机" onblur="return getInfoByPhone(this.value);"/>
    </p>
    <p>
      <input name="sendmsg" id="sendmsg" type="button"  value="发送验证码" size="30" onclick="return sendMsg(this.value);"/> 
      <font id="msgInfo"></font>
    </p>
    <p>
      <input name="regmsg" id="regmsg" type="text" class="input-common placeholder" placeholder="短信验证码" />
      <font id="checkMsg"></font>
    </p>
    <p>
      <div id="username2"></div>
      <input name="username" id="username" type="text" class="input-common placeholder" placeholder="姓名" />
      
    </p>
    
    <p>
      
      <input name="danwei" id="danwei" type="text" class="input-common placeholder" placeholder="工作单位" />
      
    </p>
    <p>
      	
      <input name="zhiwu" id="zhiwu" type="text" class="input-common placeholder" placeholder="职务" />
      
    </p>
    <p class="input-common placeholder" id="shenfen">
      <input type="radio" name="shenfen" value="代表" checked=checked>代表	
      <input type="radio" name="shenfen" value="专家" >专家
      <input type="radio" name="shenfen" value="会务" >会务
      
      
    </p>
    
    <!-- p class="input-common placeholder">
      <input name="baomi0" id="baomi0" type="checkbox" checked/>为他人签到
    </p>
    <p class="input-common placeholder">
      <input name="baomi1" id="baomi1" type="checkbox"  checked/>对现场招聘者公开我的信息
    </p>
     <p class="input-common placeholder">
      <input name="baomi2" id="baomi2" type="checkbox" class="selecter placeholder" />对现场其他求职者保密
    </p>
     <p class="input-common placeholder">
      <input name="baomi3" id="baomi3" type="checkbox" class=""  checked/>用短信增强安全性
    </p-->
    <p>
      <input name="email" id="email" type="hidden"class="input-common placeholder" placeholder="邮箱"/>
    </p>
    <p>
      <input name="password" id="password" type="hidden"class="input-common placeholder" placeholder="密码"  value="111111"/>
    </p>
    <p>
      <input name="password2" id="password2" type="hidden"class="input-common placeholder" placeholder="重复密码" value="111111"/>
    </p>
    <input type="submit" name="submit" value="签到" class="btn-large" />
  </form>
  <!-- section class="wap_login_no">已有账号？
  {yun:}if $smarty.get.usertype==2{/yun}
<a href="{yun:}wapurl m=login url=usertype:2{/yun}">立即登录</a>
{yun:}else{/yun}
<a href="{yun:}wapurl m=login{/yun}">立即登录</a>
{yun:}/if{/yun}
  </section-->
</section>
{yun:}include file="$wapstyle/footer.htm"{/yun} 
