{yun:}include file="$wapstyle/header_cont.htm"{/yun} 
<div class="fm">
<form action="index.php" method="get">
<input type="hidden" name="m" value="user" />
<div class="seach_post">
<input type="text" name="keyword" value="{yun:}$smarty.get.keyword{/yun}" class="seach_post_text placeholder"  placeholder="请输入关键字"  />
</div>
<div class="seach_post_sel">
<select name="hy" class="seach_post_select">
<option value="">选择行业</option>
{yun:}foreach from=$industry_index item=v{/yun}
<option value="{yun:}$v{/yun}" {yun:}if $smarty.get.hy==$v{/yun}selected{yun:}/if{/yun}>{yun:}$industry_name[$v]{/yun}</option>
{yun:}/foreach{/yun}
</select>
</div>
<div class="seach_post_sel">
<select name="job1" class="seach_post_select">
<option value="">选择职位类别</option>
{yun:}foreach from=$job_index item=v{/yun}
<option value="{yun:}$v{/yun}"  {yun:}if $smarty.get.job1==$v{/yun}selected{yun:}/if{/yun}>{yun:}$job_name[$v]{/yun}</option>

{yun:}/foreach{/yun}
</select>
</div>
<div class="seach_post_sel">
<input type="submit" value="搜索"class="seach_post_sub" />
</div>
</form>
</div>











<div class="main">
      {yun:}userlist limit=20 edu=auto.edu exp=auto.exp sex=auto.sex keyword=auto.keyword hy=auto.hy provinceid=auto.provinceid report=auto.report cityid=auto.cityid three_cityid=auto.three_cityid jobids=auto.jobids job_classid=auto.job_classid post_len=14 ispage=1 islt=4 item=user{/yun}
      

    
    <a href="{yun:}wapurl url=m:user,c:show,id:`$user.id`{/yun}" class="index_post_list_b index_post_list_b_com">
<h3>{yun:}$user.username_n{/yun}</h3>
<aside>{yun:}$user.job_post_n{/yun} </aside>
<i class="user_size"> {yun:}if $user.age==0{/yun}保密{yun:}else{/yun}{yun:}$user.age{/yun}岁{yun:}/if{/yun}</i>

</a>
    
    
    {yun:}/userlist{/yun} 
</div>



<div class="pages"> {yun:}$pagenav{/yun}</div>


<div>
{yun:}include file="$wapstyle/footer.htm"{/yun} 
