<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/yun_seach.css" type="text/css">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/tck_box.css" type="text/css">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/comapply.css" type="text/css">
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.index_logoin,.index_logoin_current,.nav_list,.fairs_Status,.fairs_Status,.logoin_qybj,.logoin_grbj,.logoin_Shadow_right,.logoin_Shadow_left,.whitebg,.micro_resume_fast,.nav_list_hover a,#bg,.left_comapply_cont li,.icon2,.nav_list .nav_list_hover em,.Fast_right_icon_l,.Fast_right_icon_r,.index_logoin_after,.logoin_after em,.logoin_after_su2,.logoin_after_su1,.hbg,.pagination li a,.firm_post_list,.Auction_tit,.yun_title,.Recommended_tit,.Com_Search_Results_r ul .All_post_h1_act,.sButtonBlock a.closeButton,.Comment_list_top,.icon,.yun_wap_m_bg,.micro_box,.fast_issuance');
</script>
<![endif]--> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script>var integral_pricename='{yun:}$config.integral_pricename{/yun}';var weburl="{yun:}$config.sy_weburl{/yun}"; </script>
<script src="{yun:}$config.sy_weburl{/yun}/js/search.js" type="text/javascript"></script>
<script src="{yun:}$style{/yun}/js/com_index.js" language="javascript"></script>
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
{yun:}include file="$tplstyle/public_search/index_search.htm"{/yun}
<script>
function check_select_show(id){
	$("#list"+id).show();
}
function check_onselect(id,val,name){
	$("#"+id).val(val);
	$("#list"+id).hide();
	$("#button"+id).val(name);
}
function showselect(){
	$(".seach_in_yc").slideToggle();
	$(".seach_more").html('<span onclick="hideselect();">收起搜索条件</span>');
}
function hideselect(){
	$(".seach_in_yc").slideToggle();
	$(".seach_more").html('<span onclick="showselect();">更多搜索条件</span>');
}
$(function(){
	$('body').click(function(evt) {
		if($(evt.target).parents("#listhy").length==0 && evt.target.id != "buttonhy") {
			$('#listhy').hide();
		}
		if($(evt.target).parents("#listpr").length==0 && evt.target.id != "buttonpr") {
			$('#listpr').hide();
		}
		if($(evt.target).parents("#listmun").length==0 && evt.target.id != "buttonmun") {
			$('#listmun').hide();
		}
		if($(evt.target).parents("#listexp").length==0 && evt.target.id != "buttonexp") {
			$('#listexp').hide();
		}
		if($(evt.target).parents("#listsalary").length==0 && evt.target.id != "buttonsalary") {
			$('#listsalary').hide();
		}
		if($(evt.target).parents("#listedu").length==0 && evt.target.id != "buttonedu") {
			$('#listedu').hide();
		}
		if($(evt.target).parents("#listuptime").length==0 && evt.target.id != "buttonuptime") {
			$('#listuptime').hide();
		}
	})
})
function search_keyword(){
	var keyword=$("#jobkeyword").val();
	if(keyword=="请输入职位名称的关键字：例如会计"){
		$("#jobkeyword").val('');
	}
}
function getTypeids(){
	var type="";
	$(".typeid:checked").each(function(){
		if(type==""){
			type=$(this).val();
		}else{
			type=type+","+$(this).val();
		}
	});
	$("#type").val(type);
}
{yun:}if $getinfo.pr!=""||$getinfo.mun!=""||$getinfo.exp!=""||$getinfo.salary!=""||$getinfo.edu!=""{/yun}
$(document).ready(function(){
	showselect();
});
{yun:}/if{/yun}
</script>
<div class="yun_body">
  <div class="yun_content">
    <div class="current_Location icon com_current_Location png">
      <div class="fl" >您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">首页</a> > <a href="{yun:}$config.sy_weburl{/yun}/{yun:}url m=com{/yun}">职位列表</a> </div> </div>

  <div class="clear"></div>
  <div class="yun_Looking_work" style="position:relative; z-index:10000">
<form method="get" action="index.php" onsubmit="return search_keyword()">
<input type="hidden" name="m" value="com" />
<input type="hidden" name="c" value="search" />
  <div class="clear"></div>
<div class="seach_box">
<div class="seach_box_zy">
<div class="seach_industry seach_industry_re">
<input type="button" id="buttonhy" title="选择行业类别" value="{yun:}if $industry_name[$getinfo.hy]!=""{/yun}{yun:}$industry_name[$getinfo.hy]{/yun}{yun:}else{/yun}请选择行业类别{yun:}/if{/yun}" class="seach_industry_botton" onclick="check_select_show('hy');">
<div class="seach_Nature" style="display:none;" id="listhy">
<div class="seach_Nature_list">
<input type="hidden" name="hy" id="hy" value="{yun:}$getinfo.hy{/yun}" />
<a href="javascript:check_onselect('hy','','不限');" class="seach_Nature_cur">不限</a>
{yun:}foreach item=v from=$industry_index{/yun}
<a href="javascript:check_onselect('hy','{yun:}$v{/yun}','{yun:}$industry_name[$v]{/yun}');">{yun:}$industry_name[$v]{/yun}</a>
{yun:}/foreach{/yun}
</div>
</div>
</div>
<div class="seach_industry"><input type="button" title="选择职位类别" value="{yun:}if $jobnames!=""{/yun}{yun:}$jobnames{/yun}{yun:}else{/yun}请选择职位类别{yun:}/if{/yun}" id="index_job_class_val" onclick="index_job();" class="seach_industry_botton">
 <input type="hidden" id="job_class" name="jobids" value="{yun:}$getinfo.jobids{/yun}" />
</div>
<div class="seach_industry"><input type="button" id="city" title="选择工作地区" value="{yun:}if $city_name[$getinfo.cityid]!=""{/yun}{yun:}$city_name[$getinfo.cityid]{/yun}{yun:}else{/yun}请选择工作地区{yun:}/if{/yun}" onclick="index_city();"  class="seach_industry_botton">
<input type="hidden" name="cityid" id="cityid" value="{yun:}$getinfo.cityid{/yun}"/>
</div>
</div>
<div class="seach_in_yc" style="display:none;">
<div class="seach_industry_date seach_re20">
<input type="button" id="buttonpr" title="选择公司性质" value="{yun:}if $comclass_name[$getinfo.pr]!=""{/yun}{yun:}$comclass_name[$getinfo.pr]{/yun}{yun:}else{/yun}请选择公司性质{yun:}/if{/yun}" class="seach_industry_botton2" onclick="check_select_show('pr');">
<div class="seach_Nature" style="display:none" id="listpr">
<div class="seach_Nature_list">
<input type="hidden" name="pr" id="pr" value="{yun:}$getinfo.pr{/yun}" />
<a href="javascript:check_onselect('pr','','不限');" class="seach_Nature_cur">不限</a>
{yun:}foreach item=v from=$comdata.job_pr{/yun}
<a href="javascript:check_onselect('pr','{yun:}$v{/yun}','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a>
{yun:}/foreach{/yun}
</div>
</div>
</div>
<div class="seach_industry_date seach_re20">
<input type="button" id="buttonmun" title="选择公司规模" value="{yun:}if $comclass_name[$getinfo.mun]!=""{/yun}{yun:}$comclass_name[$getinfo.mun]{/yun}{yun:}else{/yun}请选择公司规模{yun:}/if{/yun}" class="seach_industry_botton2" onclick="check_select_show('mun');">
<div class="seach_Nature" style="display:none" id="listmun">
<div class="seach_Nature_list">
<input type="hidden" name="mun" id="mun" value="{yun:}$getinfo.mun{/yun}" />
<a href="javascript:check_onselect('mun','','不限');" class="seach_Nature_cur">不限</a>
{yun:}foreach item=v from=$comdata.job_mun{/yun}
<a href="javascript:check_onselect('mun','{yun:}$v{/yun}','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a>
{yun:}/foreach{/yun}
</div>
</div>
</div>
<div class="seach_industry_date seach_re20">
<input type="button" id="buttonexp" title="选择工作经验" value="{yun:}if $comclass_name[$getinfo.exp]!=""{/yun}{yun:}$comclass_name[$getinfo.exp]{/yun}{yun:}else{/yun}请选择工作经验{yun:}/if{/yun}" class="seach_industry_botton2" onclick="check_select_show('exp');">
<div class="seach_Nature" style="display:none" id="listexp">
<div class="seach_Nature_list">
<input type="hidden" name="exp" id="exp" value="{yun:}$getinfo.exp{/yun}" />
<a href="javascript:check_onselect('exp','','不限');" class="seach_Nature_cur">不限</a>
{yun:}foreach item=v from=$comdata.job_exp{/yun}
<a href="javascript:check_onselect('exp','{yun:}$v{/yun}','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a>
{yun:}/foreach{/yun}
</div>
</div>
</div>
<div class="seach_industry_date  seach_re20">
<input type="button" id="buttonsalary" title="选择月薪范围" value="{yun:}if $comclass_name[$getinfo.salary]!=""{/yun}{yun:}$comclass_name[$getinfo.salary]{/yun}{yun:}else{/yun}请选择月薪范围{yun:}/if{/yun}" class="seach_industry_botton2" onclick="check_select_show('salary');">
<div class="seach_Nature" style="display:none" id="listsalary">
<div class="seach_Nature_list">
<input type="hidden" name="salary" id="salary" value="{yun:}$getinfo.salary{/yun}" />
<a href="javascript:check_onselect('salary','','不限');" class="seach_Nature_cur">不限</a>
{yun:}foreach item=v from=$comdata.job_salary{/yun}
<a href="javascript:check_onselect('salary','{yun:}$v{/yun}','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a>
{yun:}/foreach{/yun}
</div>
</div>
</div>
<div class="seach_industry_date seach_re20">
<input type="button" id="buttonedu" title="选择学历要求" value="{yun:}if $comclass_name[$getinfo.edu]!=""{/yun}{yun:}$comclass_name[$getinfo.edu]{/yun}{yun:}else{/yun}请选择学历要求{yun:}/if{/yun}" class="seach_industry_botton2" onclick="check_select_show('edu');">
<div class="seach_Nature" style="display:none" id="listedu">
<div class="seach_Nature_list">
<input type="hidden" name="edu" id="edu" value="{yun:}$getinfo.edu{/yun}" />
{yun:}foreach item=v from=$comdata.job_edu key=i{/yun}
<a {yun:}if $i==0{/yun}class="seach_Nature_cur"{yun:}/if{/yun} href="javascript:check_onselect('edu','{yun:}$v{/yun}','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a>
{yun:}/foreach{/yun}
</div>
</div>
</div>
</div>
<div class="seach_ind">
<div class="seach_industry_date  seach_re10">
<input type="button" id="buttonuptime" title="选择发布日期" value="{yun:}if $uptimename!=""{/yun}{yun:}$uptimename{/yun}{yun:}else{/yun}请选择发布日期{yun:}/if{/yun}" class="seach_industry_botton2" onclick="check_select_show('uptime');">
<div class="seach_Nature" style="display:none" id="listuptime">
<div class="seach_Nature_list">
<input type="hidden" name="uptime" id="uptime" value="{yun:}$getinfo.uptime{/yun}" />
<a href="javascript:check_onselect('uptime','','不限');" class="seach_Nature_cur">不限</a>
<a href="javascript:check_onselect('uptime','1','今天');">今天</a>
<a href="javascript:check_onselect('uptime','3','最近3天');">最近3天</a>
<a href="javascript:check_onselect('uptime','7','最近7天');">最近7天</a>
<a href="javascript:check_onselect('uptime','30','最近一个月');">最近一个月</a>
<a href="javascript:check_onselect('uptime','90','最近三个月');">最近三个月</a>
</div>

</div>
</div>
<div class="seach_keyword"><input type="text" id="jobkeyword" value="请输入职位名称的关键字：例如会计"  onclick="if(this.value=='请输入职位名称的关键字：例如会计'){this.value=''}" onblur="if(this.value==''){this.value='请输入职位名称的关键字：例如会计'}" name="keyword" class="seach_keyword_text placeholder"></div>
{yun:}foreach item=v from=$comdata.job_type{/yun}
<input type="checkbox" value="{yun:}$v{/yun}" {yun:}if $getinfo.type|strstr:$v{/yun}checked{yun:}/if{/yun} onclick="getTypeids();" class="seach_checked typeid"><span class="seach_checked_name">{yun:}$comclass_name[$v]{/yun}</span>
{yun:}/foreach{/yun}
<input type="hidden" name="type" id="type" value="{yun:}$getinfo.type{/yun}" />
<input type="submit" value="" class="seach_submit">
</div>
<div class="clear"></div>
<div class="seach_box_zy">
<div class="seach_hot"><span>热门搜索：</span>{yun:}key limit=7 recom=1 type=3 item=keylist{/yun} <a href="{yun:}$keylist.url{/yun}" title="{yun:}$keylist.key_name{/yun}">{yun:}$keylist.key_name{/yun}</a> {yun:}/key{/yun} </div>
<div class="seach_more"><span onclick="showselect();">更多搜索条件</span></div>
</div>
<div class="clear"></div>
</div>
</form>
<div class="seach_cur">
<span class="seach_cur_l">当前搜索：</span>
      <div class="Post_select_end fl" style="_line-height:1px; margin-top:5px;height:100%;line-height:25px; font-size:14px;color:#797676;">{yun:}$searchcondition{/yun}</div>
      {yun:}if $gettype!="m=com"{/yun}
    <div class="search_cz"><a href="index.php?m=com&c=search"> + 重置</a></div></div>
    {yun:}/if{/yun}

     </div>
  <div class="clear"></div>
    <div class="yun_Looking_work_all">
      <div class="yun_Looking_work_all_sort">
        <ul class="view_sort_list">
        
         <li {yun:}if $getinfo.rec{/yun}class="view_sort_list_cur"{yun:}else{/yun}class="search_tj_post"{yun:}/if{/yun}><a href="{yun:}seacrh_url m=com rec=1 untype=orderby,order,urgent{/yun}">推荐职位</a></li>        
         <li {yun:}if $getinfo.urgent{/yun}class="view_sort_list_cur"{yun:}else{/yun}class="search_jj_post"{yun:}/if{/yun}><a href="{yun:}seacrh_url m=com urgent=1 untype=orderby,order,rec{/yun}">紧急职位</a></li>
          <li {yun:}if $getinfo.orderby=='lastdate'{/yun}class="view_sort_list_cur"{yun:}/if{/yun}><a href="{yun:}seacrh_url m=com orderby=lastdate untype=orderby,order,rec,urgent{/yun}" {yun:}if $getinfo.orderby=='lastdate'{/yun}class="updateTime"{yun:}else{/yun}class="SalaryRange"{yun:}/if{/yun}>更新时间</a></li>
          <li {yun:}if $getinfo.order=='sdate'{/yun}class="view_sort_list_cur"{yun:}/if{/yun}><a href="{yun:}seacrh_url m=com order=sdate untype=orderby,order,rec,urgent{/yun}" class="SalaryRange">发布时间</a></li>
        </ul>
        </div>
    </div>
    <div class="yun_Looking_work_left" style="width:960px">
       <style>
	.POp_up_r input{ display:inline-block; margin-right:5px;}
	.POp_up_r{float: left;width: 250px;}
    	.POp_up_r em{ display:inline-block;width:120px;height:23px; overflow:hidden}
	</style>
      <form action="index.php" name="myform" method="get"> 
        <div class="fl ">
        {yun:}if $total!=0{/yun}
          <ul class="All_post_title fl">
            <li class="yun_td1">职位名称</li>
            <li class="yun_td6">公司名称</li>
            <li class="yun_td2">工作地点</li>
            <li class="yun_td3">薪资待遇</li>
            <li class="yun_td5">更新日期</li>
          </ul>
          {yun:}/if{/yun}
          {yun:}joblist namelen=8 comlen=12 ispage=1 hy=auto.hy job1=auto.job1 job1_son=auto.job1_son job_post=auto.job_post jobids=auto.jobids pr=auto.pr mun=auto.mun provinceid=auto.provinceid cityid=auto.cityid three_cityid=auto.three_cityid type=auto.type edu=auto.edu exp=auto.exp sex=auto.sex salary=auto.salary keyword=auto.keyword urgent=auto.urgent rec=auto.rec job=auto.job uptime=auto.uptime order=auto.order  orderby=@orderby  limit=16 item=job_list{/yun}
          <div class="yun_Looking_work_name fl" id="i{yun:}$job_list.id{/yun}" aid="{yun:}$job_list.id{/yun}">
            <div class="yun_Looking_work_yun_td1">
              <div class="yun_Looking_work_yun_top">
                <div class="checkbox_job" pid="{yun:}$job_list.id{/yun}"><i></i></div>
                <input type="checkbox" name="checkbox_job" style="display:none;" id="checkbox{yun:}$job_list.id{/yun}" value="{yun:}$job_list.id{/yun}" />
                <a href="{yun:}$job_list.job_url{/yun}" class="yun_Looking_work_yun_post"  title="{yun:}$job_list.name{/yun}">{yun:}$job_list.name_n{/yun}&nbsp;</a> {yun:}if $job_list.urgent_time>time(){/yun}<img src="{yun:}$style{/yun}/images/hot.gif" title="紧急招聘"/>{yun:}/if{/yun}

                {yun:}if $job_list.rec_time>time(){/yun}<img src="{yun:}$style{/yun}/images/tui.png" title="站长推荐"/>{yun:}/if{/yun} </div>
              <div class="clear"></div>
            </div>
            <div class="yun_Looking_work_yun_td6"> <a href="{yun:}$job_list.com_url{/yun}"class="yun_Looking_work_yun_gs"><font color="{yun:}$job_list.color{/yun}" title="{yun:}$job_list.com_n{/yun}">{yun:}$job_list.com_n{/yun}</font>&nbsp;</a> </div>
            <div class="yun_Looking_work_yun_td2">{yun:}$job_list.job_city_one{/yun}-{yun:}$job_list.job_city_two{/yun}&nbsp;</div>
            <div class="yun_Looking_work_yun_td3">{yun:}$job_list.job_salary{/yun}&nbsp;</div>

            <div class="yun_Looking_work_yun_td5">{yun:}$job_list.time{/yun}&nbsp;</div>
            <div class="yun_Looking_work_x"> <span><em>公司性质：</em>{yun:}$job_list.job_pr{/yun} </span> <span><em>学历要求：</em> {yun:}$job_list.job_edu{/yun} </span> <span><em>工作经验：</em>{yun:}$job_list.job_exp{/yun}</span> <span><em>公司规模：</em> {yun:}$job_list.job_mun{/yun}</span> <span><em>招聘人数：</em>{yun:}$job_list.job_number{/yun}</span>
              <div class="yun_Looking_work_cz"> <a class="Com_yun_bth" href="{yun:}url m=com url=c:comapply,id:`$job_list.id`{/yun}" title="立即申请">立即申请</a> <a class="Com_yun_bth2" href="javascript:fav_job('{yun:}$job_list.id{/yun}','1');" title="立即收藏">收藏</a> </div>
            </div>
            <div class="yun_Looking_work_rz"> 任职要求：{yun:}$job_list.description|strip_tags{/yun}</div>
          </div>
          {yun:}/joblist{/yun} </div>
        {yun:}if $total!=0{/yun}
        <div class="All_post_list fl">
          <div class="checkbox_all" onclick="checkAll();"><i></i>全选（当前列表）</div>
          <a href="javascript:;" id="comindex_sqjob"  class="sq_post icon3" title="申请选中职位">申请选中职位</a>
          <a href="javascript:" id="comindex_favjob" class="sq_post icon3" title="收藏选中职位">收藏选中职位</a> </div>
      </form>
      <div class="clear"></div>
      <div class="pages"> {yun:}$pagenav{/yun}</div>
      {yun:}/if{/yun}

      {yun:}if $total==0{/yun}
      <div class="seachno">
        <div class="seachno_left"><img src="{yun:}$style{/yun}/images/search-no.gif"></div>
        <div class="listno-content"> <strong>很抱歉，没有找到满足条件的职位</strong><br>
          <span> 建议您：<br>
          1、适当减少已选择的条件<br>
          2、适当删减或更改搜索关键字<br>
          </span> <span> 热门关键字：<br>
          {yun:}key limit=6 recom=1 type=3 item=top_key{/yun} <a href="{yun:}$top_key.url{/yun}">{yun:}$top_key.key_name{/yun}</a> {yun:}/key{/yun} </span> </div>
      </div>
      {yun:}/if{/yun}
	  </div>
  </div>
</div>
<div id="sqjob_show" style=" display:none; float:left">
  <div class="Pop-up_logoin" style="padding-top:10px;">
	<div class="Pop-up_logoin_sq" id="resume_job"> <span style="width:90px;">选择简历：</span>
	  <div class="POp_up_r"></div>
	</div>
	<div style="clear:both"></div>
	<div class="Pop-up_logoin_sq" style="margin-top:10px;"> 
	  <input id="click_comindex_sqjob" class="login_button2" style="margin-left:80px;"type="button" value=" " name="Submit">
	</div>
  </div>
</div> 
<input type="hidden" id="firmurl" name="firmurl"  value="{yun:}$firmurl{/yun}"/>
{yun:}include file="$tplstyle/footer.htm"{/yun}