
<style>
#contentDiv ul li {
    list-style: none;
}
.td_title1 {
	color: #6690FF;
}
.td04 {
	COLOR: #00659c;
	TEXT-INDENT: 0px
}
.mail{ padding-top:20px; margin-bottom:20px;}
.mail li{height:28px; line-height:28px;}
.mail li span{width:130px; text-align:right; display:block; float:left}
.zhiw1{width:650px; background:#e0f0ff;border:1px solid #aad8f0; margin-top:10px; margin-bottom:10px;font-size:12px;}
.zhiw{width:650px; background:#e0f0ff;border:1px solid #aad8f0; margin-top:10px; margin-bottom:10px;font-size:12px; float:left; list-style:none;}
.zhiw li{width:300px; line-height:26px; float:left; margin-left:20px;_margin-left:10px; list-style:none;}
</style>

<div style="background:#f7faff;">
<div style="width:680px;border:1px dotted #cce6f4; background:#fff;">

<div style="width:680px;font-size:14px; font-family:'宋体';border-bottom:1px dashed  #cce6f4; margin-bottom:10px;">
 <div style="height:30px; line-height:30px;  text-indent:10px;border-bottom:2px solid #FF6600""><font color="#FF6600">★ </font><strong class="td_title1">推荐职位: <a href="{yun:}comurljob{/yun}"  target="_blank">{yun:}comname{/yun}</a>  </strong>

 </div>
 
     <ul class="zhiw">
    	 <li>招聘人数:{yun:}number_info{/yun} </li>	
      	 <li>学历要求:{yun:}edu_info{/yun}</li>
         <li>年龄要求:{yun:}age_info{/yun}</li>
         <li>职位类型:{yun:}type_info{/yun}</font></li>
          <li>语言要求:{yun:}lang_info{/yun} </li>	
          <li>工作经验要求:{yun:}exp_info{/yun} </li>
          <li>薪资待遇:{yun:}salary_info{/yun} </li>	
          <li>福利待遇:{yun:}welfare_info{/yun} </li>	
        
             <li>电子信箱:<a href="{yun:}comurljob{/yun}"  target="_blank">登录网站后查看</a></li>
    <li>联系电话:<a href="{yun:}comurljob{/yun}"  target="_blank">登录网站后查看</a> </li>
     <li>工作地点：{yun:}city_info{/yun}{yun:}city2_info{/yun}</li>
         <li>有效期至：{yun:}edate{/yun}</li>
         
</ul>

     
      <br/>
<ul class="zhiw"><li>职位描述:{yun:}description{/yun}</li></ul>
      <table width="95%"  border="0"  cellpadding="6"  cellspacing="0">
        <tbody>
          <tr bgcolor="#FFFFFF">

            <td height="30"  align="center"> [ <a href="{yun:}comurljob{/yun}"  target="_blank">发送简历</a> ]
              
              &nbsp; [ <a href="{yun:}comurl{/yun}"  target="_blank">查看该公司其他职位</a> ] </td>
          </tr>
        </tbody>
      </table>
      </p>
         <br/>
 <div style="height:30px; line-height:30px;font-size:14px; text-indent:10px;border-bottom:2px solid #FF6600""><font color="#FF6600">★ </font><strong class="td_title1">公司简介：{yun:}name{/yun}</strong>

         </div>
             <ul class="zhiw">
    <li>从事行业:{yun:}hy_info{/yun} </li>
    <li>企业性质:{yun:}pr_info{/yun} </li>
    <li>企业规模:{yun:}mun_info{/yun} </li>
    <li>创办时间:{yun:}sdate{/yun} </li>
    <li>公司地址:{yun:}address{/yun}</li>
     <li>联 系 人:{yun:}linkman{/yun} </li>
      <li>邮政编码: {yun:}zip{/yun}</li>
     <li> 公司主页:{yun:}website{/yun}</li>
     </ul>
      <br/>
   <div style="padding:10px;">
              <br/>
             {yun:}content{/yun}
          </div>
      <p>
      <div style="height:30px; line-height:30px; text-indent:10px;">
      <hr align="left"  width="100%"  size="2"  color="#FF6600" />
      &nbsp;   &nbsp;<a href='{yun:}sy_weburl{/yun}'  target='_blank'>{yun:}sy_webname{/yun}</a> {yun:}now{/yun} <br/>
      <br/>
      </div>
</div>
</div>
</div>